NEXT_PUBLIC_APP_URL=http://127.0.0.1:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_SUPABASE_AVATARS_BUCKET=avatars
NEXT_PUBLIC_SUPABASE_COVER_ART_BUCKET=cover-art
NEXT_PUBLIC_SUPABASE_TRACK_AUDIO_BUCKET=track-audio
NEXT_PUBLIC_SUPABASE_TRACK_PREVIEWS_BUCKET=track-previews
NEXT_PUBLIC_SUPABASE_AGREEMENTS_BUCKET=agreements
SUPABASE_SERVICE_ROLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
SYNC_EXCHANGE_DEMO_MODE=false
ADMIN_BOOTSTRAP_EMAIL=malcolm@thesyncexchange.com
ADMIN_BOOTSTRAP_FULL_NAME=Malcolm
ADMIN_BOOTSTRAP_PASSWORD=
ADMIN_BOOTSTRAP_RESET_PASSWORD=false
QA_TEST_ACCOUNT_PASSWORD=
QA_RESET_PASSWORDS=false
QA_ADMIN_EMAIL=qa-admin@thesyncexchange.com
QA_ADMIN_FULL_NAME=QA Admin
QA_ARTIST_EMAIL=qa-artist@thesyncexchange.com
QA_ARTIST_FULL_NAME=QA Artist
QA_ARTIST_NAME=QA Artist
QA_BUYER_EMAIL=qa-buyer@thesyncexchange.com
QA_BUYER_FULL_NAME=QA Buyer
QA_WRONG_BUYER_EMAIL=qa-buyer-two@thesyncexchange.com
QA_WRONG_BUYER_FULL_NAME=QA Wrong Buyer
E2E_BASE_URL=http://127.0.0.1:3000
E2E_ARTIST_EMAIL=
E2E_ARTIST_PASSWORD=
E2E_ADMIN_EMAIL=
E2E_ADMIN_PASSWORD=
E2E_BUYER_EMAIL=
E2E_BUYER_PASSWORD=
E2E_WRONG_BUYER_EMAIL=
E2E_WRONG_BUYER_PASSWORD=
E2E_COVER_ART_PATH=
E2E_AUDIO_PATH=
E2E_PREVIEW_AUDIO_PATH=
E2E_REUSE_EXISTING_SERVER=false
SENTRY_DSN=
SENTRY_ENVIRONMENT=development
